<div class="modal-header">
	<h1> New Task </h1>
</div>

<%= form_for [project,task], remote: true do |f| %>
<div class="modal-body">
	<%= f.text_area :note %>
</div>

<div class="modal-footer">
	<%= f.submit %>
</div>
<% end %>
